@font-face {
  font-family: 'neuehaasdisplaylight';
  src: url('/assets/fonts/neuehassdisplaylight.woff2') format('woff2'),
       url('/assets/fonts/euehassdisplaylight.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* fonts.css */
@import url("https://use.typekit.net/<link rel="stylesheet" href="https://use.typekit.net/jyd8pzu.css">);

